In [65]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE

# Load data

In [66]:
DKI1 = pd.read_excel("D:\Data\Kuliah\TA\Projek-Capstone-Design\DATA\Imputer\DATA ISPU - Impute.xlsx", sheet_name="DKI1")
DKI2 = pd.read_excel("D:\Data\Kuliah\TA\Projek-Capstone-Design\DATA\Imputer\DATA ISPU - Impute.xlsx", sheet_name="DKI2")
DKI3 = pd.read_excel("D:\Data\Kuliah\TA\Projek-Capstone-Design\DATA\Imputer\DATA ISPU - Impute.xlsx", sheet_name="DKI3")
DKI4 = pd.read_excel("D:\Data\Kuliah\TA\Projek-Capstone-Design\DATA\Imputer\DATA ISPU - Impute.xlsx", sheet_name="DKI4")
DKI5 = pd.read_excel("D:\Data\Kuliah\TA\Projek-Capstone-Design\DATA\Imputer\DATA ISPU - Impute.xlsx", sheet_name="DKI5")

In [67]:
DKI1

,Tanggal,Wilayah,PM10,SO2,CO,O3,NO2,Max,Critical,Kategori
0,2017-01-01,DKI1 (Bunderan HI),63.000000,34.000000,25.000000,21.000000,2.000000,63.000000,PM10,SEDANG
1,2017-01-02,DKI1 (Bunderan HI),16.000000,32.000000,16.000000,19.000000,1.000000,32.000000,SO2,BAIK
2,2017-01-03,DKI1 (Bunderan HI),18.000000,32.000000,17.000000,20.000000,2.000000,32.000000,SO2,BAIK
3,2017-01-04,DKI1 (Bunderan HI),24.000000,32.000000,22.000000,20.000000,2.000000,32.000000,SO2,BAIK
4,2017-01-05,DKI1 (Bunderan HI),29.000000,32.000000,25.000000,14.000000,2.000000,32.000000,SO2,BAIK
...,...,...,...,...,...,...,...,...,...,...
2186,2022-12-27,DKI1 (Bunderan HI),27.000000,48.000000,11.000000,13.000000,6.000000,48.000000,SO2,BAIK
2187,2022-12-28,DKI1 (Bunderan HI),25.000000,48.000000,9.000000,11.000000,6.000000,48.000000,SO2,BAIK
2188,2022-12-29,DKI1 (Bunderan HI),30.000000,52.000000,11.000000,12.000000,9.000000,52.000000,SO2,SEDANG
2189,2022-12-30,DKI1 (Bunderan HI),50.000000,50.000000,12.000000,18.000000,13.000000,50.000000,PM10,SEDANG
2190,2022-12-31,DKI1 (Bunderan HI),48.595409,21.978313,16.604986,40.004852,12.565386,58.417697,NaN,TIDAK ADA DATA

In [68]:
DKI2

,Tanggal,Wilayah,PM10,SO2,CO,O3,NO2,Max,Critical,Kategori
0,2017-01-01,DKI2 (Kelapa Gading),52.0,21.0,11.0,61.0,11.0,61.0,O3,SEDANG
1,2017-01-02,DKI2 (Kelapa Gading),27.0,18.0,5.0,40.0,15.0,40.0,O3,BAIK
2,2017-01-03,DKI2 (Kelapa Gading),32.0,18.0,7.0,55.0,10.0,55.0,O3,SEDANG
3,2017-01-04,DKI2 (Kelapa Gading),23.0,19.0,8.6,61.0,15.0,61.0,O3,SEDANG
4,2017-01-05,DKI2 (Kelapa Gading),28.0,16.0,6.0,57.0,12.0,57.0,O3,SEDANG
...,...,...,...,...,...,...,...,...,...,...
2186,2022-12-27,DKI2 (Kelapa Gading),44.0,59.0,56.0,19.0,28.0,59.0,SO2,SEDANG
2187,2022-12-28,DKI2 (Kelapa Gading),22.0,57.0,40.0,15.0,16.0,57.0,SO2,SEDANG
2188,2022-12-29,DKI2 (Kelapa Gading),35.0,57.0,26.0,15.0,17.0,57.0,SO2,SEDANG
2189,2022-12-30,DKI2 (Kelapa Gading),31.0,58.0,19.0,17.0,23.0,58.0,SO2,SEDANG
2190,2022-12-31,DKI2 (Kelapa Gading),45.0,57.0,24.0,21.0,28.0,57.0,SO2,SEDANG

## Tahap 1
menghilangkan kolom yang tidak diperlukan (Tanggal, Wilayah, Max, Critical)

In [69]:
DKI1 = DKI1.drop(columns=["Tanggal", "Wilayah", "Max", "Critical"])
DKI2 = DKI2.drop(columns=["Tanggal", "Wilayah", "Max", "Critical"])
DKI3 = DKI3.drop(columns=["Tanggal", "Wilayah", "Max", "Critical"])
DKI4 = DKI4.drop(columns=["Tanggal", "Wilayah", "Max", "Critical"])
DKI5 = DKI5.drop(columns=["Tanggal", "Wilayah", "Max", "Critical"])

## Tahap 2
menghilangkan baris yang memiliki nilai kosong

In [70]:
DKI1=DKI1.dropna()
DKI2=DKI2.dropna()
DKI3=DKI3.dropna()
DKI4=DKI4.dropna()
DKI5=DKI5.dropna()

## Tahap 3
merubah label kategori menjadi huruf kecil(lowercase)=untuk mengeliminasi atau menghilangkan label yang tidak diperlukan

In [71]:
DKI1['Kategori'] = DKI1['Kategori'].apply(lambda x:x.lower())
DKI2['Kategori'] = DKI2['Kategori'].apply(lambda x:x.lower())
DKI3['Kategori'] = DKI3['Kategori'].apply(lambda x:x.lower())
DKI4['Kategori'] = DKI4['Kategori'].apply(lambda x:x.lower())
DKI5['Kategori'] = DKI5['Kategori'].apply(lambda x:x.lower())
DKI1

           PM10        SO2         CO         O3        NO2        Kategori
0     63.000000  34.000000  25.000000  21.000000   2.000000          sedang
1     16.000000  32.000000  16.000000  19.000000   1.000000            baik
2     18.000000  32.000000  17.000000  20.000000   2.000000            baik
3     24.000000  32.000000  22.000000  20.000000   2.000000            baik
4     29.000000  32.000000  25.000000  14.000000   2.000000            baik
...         ...        ...        ...        ...        ...             ...
2186  27.000000  48.000000  11.000000  13.000000   6.000000            baik
2187  25.000000  48.000000   9.000000  11.000000   6.000000            baik
2188  30.000000  52.000000  11.000000  12.000000   9.000000          sedang
2189  50.000000  50.000000  12.000000  18.000000  13.000000          sedang
2190  48.595409  21.978313  16.604986  40.004852  12.565386  tidak ada data

[2191 rows x 6 columns]

## Tahap 4
menghilangkan label "tidak ada data" karena memang tidak diperlukan

In [72]:
DKI1.drop(DKI1[DKI1['Kategori'] == 'tidak ada data'].index,inplace= True)
DKI2.drop(DKI2[DKI2['Kategori'] == 'tidak ada data'].index,inplace= True)
DKI3.drop(DKI3[DKI3['Kategori'] == 'tidak ada data'].index,inplace= True)
DKI4.drop(DKI4[DKI4['Kategori'] == 'tidak ada data'].index,inplace= True)
DKI5.drop(DKI5[DKI5['Kategori'] == 'tidak ada data'].index,inplace= True)
DKI1[DKI1['Kategori'] == 'tidak ada data'].count()

PM10        0
SO2         0
CO          0
O3          0
NO2         0
Kategori    0
dtype: int64

## Tahap 5
melakukan pengecekan label "sangat tidak sehat" karenakan datanya terlalu sedikit sehingga akan berpengaruh kepada klasifikasi(data tidak seimbang)

In [73]:
#DKI5.drop(DKI5[DKI5['Kategori'] == 'sangat tidak sehat'].index,inplace= True)
DKI5[DKI5['Kategori'] == 'sangat tidak sehat'].count()

PM10        30
SO2         30
CO          30
O3          30
NO2         30
Kategori    30
dtype: int64

In [74]:
def filter_category(df, category, start=0, end=100):
    return df.loc[df['Kategori'] == category].iloc[start:end]
    
def category_not_health(df, start=0, end=100):
    return filter_category(df, 'tidak sehat', start, end)
    
def category_intermediate(df, start=0, end=100):
    return filter_category(df, 'sedang', start, end)

def category_health(df, start=0, end=100):
    return filter_category(df, 'baik', start, end)

def category_very_not_health(df, start=0, end=100):
    return filter_category(df, 'sangat tidak sehat', start, end)

def sample_not_health():
    return pd.concat([
        category_not_health(DKI1),
        category_not_health(DKI2, end=135),
        category_not_health(DKI3),
        category_not_health(DKI4),
        category_not_health(DKI5),
    ], ignore_index=True)

def sample_intermediate():
    return pd.concat([
        category_intermediate(DKI1),
        category_intermediate(DKI2),
        category_intermediate(DKI3),
        category_intermediate(DKI4),
        category_intermediate(DKI5),
    ], ignore_index=True)

def sample_health():
    return pd.concat([
        category_health(DKI1),
        category_health(DKI2),
        category_health(DKI3),
        category_health(DKI4),
        category_health(DKI5),
    ], ignore_index=True)

def sample_very_not_health():
    return pd.concat([
        category_very_not_health(DKI5)
    ], ignore_index=True)

In [75]:
not_health = sample_not_health()
not_health

     PM10   SO2    CO     O3  NO2     Kategori
0    53.0  12.0  22.0  101.0  6.0  tidak sehat
1    35.0   9.0  20.0  125.0  5.0  tidak sehat
2    54.0  13.0  20.0  134.0  9.0  tidak sehat
3    66.0  16.0  21.0  141.0  7.0  tidak sehat
4    37.0  16.0  23.0  103.0  5.0  tidak sehat
..    ...   ...   ...    ...  ...          ...
495  57.0  19.0  14.0  156.0  3.0  tidak sehat
496  67.0  16.0  18.0  150.0  5.0  tidak sehat
497  56.0  13.0  27.0  163.0  5.0  tidak sehat
498  52.0  15.0  18.0  144.0  5.0  tidak sehat
499  60.0  16.0  21.0  120.0  4.0  tidak sehat

[500 rows x 6 columns]

In [76]:
intermediate = sample_intermediate()
intermediate

     PM10   SO2    CO    O3   NO2 Kategori
0    63.0  34.0  25.0  21.0   2.0   sedang
1    54.0  15.4  20.0  16.0   2.0   sedang
2    53.0  14.2  28.0  34.0   3.0   sedang
3    52.0   4.0  30.0  33.0   4.0   sedang
4    68.0   7.0  25.0  30.0   4.0   sedang
..    ...   ...   ...   ...   ...      ...
495  27.0  16.0  30.0  59.0  10.0   sedang
496  39.0  18.0  31.0  64.0  10.0   sedang
497  51.0  18.0  29.0  86.0  14.0   sedang
498  53.0  17.0  33.0  93.0  15.0   sedang
499  51.0  18.0  33.0  93.0  11.0   sedang

[500 rows x 6 columns]

In [77]:
health = sample_health()
health

     PM10   SO2    CO    O3  NO2 Kategori
0    16.0  32.0  16.0  19.0  1.0     baik
1    18.0  32.0  17.0  20.0  2.0     baik
2    24.0  32.0  22.0  20.0  2.0     baik
3    29.0  32.0  25.0  14.0  2.0     baik
4    21.0  31.0  24.0  18.0  2.0     baik
..    ...   ...   ...   ...  ...      ...
495  23.0  22.0  27.0  46.0  4.0     baik
496  25.0  20.0  29.0  39.0  5.0     baik
497  14.0  18.0  25.0  22.0  2.0     baik
498  24.0  19.0  27.0  29.0  3.0     baik
499  20.0  18.0  36.0  29.0  9.0     baik

[500 rows x 6 columns]

In [78]:
very_not_health = sample_very_not_health()
very_not_health

    PM10   SO2    CO     O3   NO2            Kategori
0   30.0  12.0  10.0  202.0   9.8  sangat tidak sehat
1   62.0  23.0  26.0  202.0   8.0  sangat tidak sehat
2   61.0  22.0  14.0  204.0   6.0  sangat tidak sehat
3   58.0  24.0  16.0  213.0   6.0  sangat tidak sehat
4   70.0  21.0  26.0  205.0   6.0  sangat tidak sehat
5   53.0  23.0  14.0  222.0   4.0  sangat tidak sehat
6   64.0  26.0  20.0  205.0   6.0  sangat tidak sehat
7   77.0  22.0  25.0  208.0   5.0  sangat tidak sehat
8   80.0  24.0  30.0  234.0   6.0  sangat tidak sehat
9   77.0  22.0  23.0  202.0   5.0  sangat tidak sehat
10  59.0  19.0  17.0  207.0   4.0  sangat tidak sehat
11  57.0  29.0  13.0  202.0   4.0  sangat tidak sehat
12  43.0  22.0  11.0  217.0   2.0  sangat tidak sehat
13  58.0  44.0  13.0  209.0   5.0  sangat tidak sehat
14  65.0  50.0  18.0  202.0   6.0  sangat tidak sehat
15  58.0  29.0  16.0  210.0   7.0  sangat tidak sehat
16  58.0  34.0  15.0  217.0   7.0  sangat tidak sehat
17  56.0  34.0  13.0  207.0   5.0  sangat tidak sehat
18  57.0  31.0  15.0  212.0   6.0  sangat tidak sehat
19  58.0  12.0  25.0  215.0  15.0  sangat tidak sehat
20  66.0  15.0  35.0  243.0  10.0  sangat tidak sehat
21  53.0  13.0  18.0  235.0  10.0  sangat tidak sehat
22  92.0  20.0  28.0  207.0  14.0  sangat tidak sehat
23  69.0  19.0  15.0  201.0   9.0  sangat tidak sehat
24  71.0  21.0   8.0  207.0   9.0  sangat tidak sehat
25  58.0  24.0   8.0  209.0  11.0  sangat tidak sehat
26  60.0  25.0  10.0  220.0  12.0  sangat tidak sehat
27  22.0  16.4  35.0  213.0  11.0  sangat tidak sehat
28  22.0  16.6  17.4  201.0  15.0  sangat tidak sehat
29  59.0  20.6  32.0  206.0   5.0  sangat tidak sehat

In [79]:
imbalance_dataset = pd.concat([very_not_health, not_health, intermediate, health], ignore_index=True)
category_very_not_health(imbalance_dataset)

    PM10   SO2    CO     O3   NO2            Kategori
0   30.0  12.0  10.0  202.0   9.8  sangat tidak sehat
1   62.0  23.0  26.0  202.0   8.0  sangat tidak sehat
2   61.0  22.0  14.0  204.0   6.0  sangat tidak sehat
3   58.0  24.0  16.0  213.0   6.0  sangat tidak sehat
4   70.0  21.0  26.0  205.0   6.0  sangat tidak sehat
5   53.0  23.0  14.0  222.0   4.0  sangat tidak sehat
6   64.0  26.0  20.0  205.0   6.0  sangat tidak sehat
7   77.0  22.0  25.0  208.0   5.0  sangat tidak sehat
8   80.0  24.0  30.0  234.0   6.0  sangat tidak sehat
9   77.0  22.0  23.0  202.0   5.0  sangat tidak sehat
10  59.0  19.0  17.0  207.0   4.0  sangat tidak sehat
11  57.0  29.0  13.0  202.0   4.0  sangat tidak sehat
12  43.0  22.0  11.0  217.0   2.0  sangat tidak sehat
13  58.0  44.0  13.0  209.0   5.0  sangat tidak sehat
14  65.0  50.0  18.0  202.0   6.0  sangat tidak sehat
15  58.0  29.0  16.0  210.0   7.0  sangat tidak sehat
16  58.0  34.0  15.0  217.0   7.0  sangat tidak sehat
17  56.0  34.0  13.0  207.0   5.0  sangat tidak sehat
18  57.0  31.0  15.0  212.0   6.0  sangat tidak sehat
19  58.0  12.0  25.0  215.0  15.0  sangat tidak sehat
20  66.0  15.0  35.0  243.0  10.0  sangat tidak sehat
21  53.0  13.0  18.0  235.0  10.0  sangat tidak sehat
22  92.0  20.0  28.0  207.0  14.0  sangat tidak sehat
23  69.0  19.0  15.0  201.0   9.0  sangat tidak sehat
24  71.0  21.0   8.0  207.0   9.0  sangat tidak sehat
25  58.0  24.0   8.0  209.0  11.0  sangat tidak sehat
26  60.0  25.0  10.0  220.0  12.0  sangat tidak sehat
27  22.0  16.4  35.0  213.0  11.0  sangat tidak sehat
28  22.0  16.6  17.4  201.0  15.0  sangat tidak sehat
29  59.0  20.6  32.0  206.0   5.0  sangat tidak sehat

In [80]:
imbalance_X=imbalance_dataset.drop(columns=["Kategori"])
imbalance_y = imbalance_dataset["Kategori"]
imbalance_y.loc[imbalance_y == 'sangat tidak sehat'].count()

30

## Tahap 6
untuk menggabungkan sheet 1 sampai 5 kemudian di potong 80% untuk training 20% untuj test dengan proporsi kategori yang cukup balance

In [81]:

oversampled = SMOTE()
balanced_X, balanced_y = oversampled.fit_resample(imbalance_X, imbalance_y)
balanced_y.loc[balanced_y == 'sangat tidak sehat'].count()

500

In [82]:
balanced_y.loc[balanced_y == 'tidak sehat'].count()

500

In [83]:
balanced_y.loc[balanced_y == 'sedang'].count()

500

In [84]:
balanced_y.loc[balanced_y == 'baik'].count()

500

In [85]:
X_train, X_test, y_train, y_test = train_test_split(balanced_X, balanced_y, test_size=0.3, random_state=42, stratify=balanced_y)

In [86]:
y_train[y_train == 'sangat tidak sehat'].count()

350

In [87]:
y_train[y_train == 'tidak sehat'].count()

350

In [88]:
y_train[y_train == 'sedang'].count()

350

In [89]:
y_train[y_train == 'baik'].count()

350

In [90]:
y_test[y_test == 'tidak sehat'].count()

150

In [91]:
y_test[y_test == 'sedang'].count()

150

In [92]:
y_test[y_test == 'baik'].count()

150

In [93]:
#X_train["Kategori"]=y_train
#X_train.to_excel('D:\Data\Kuliah\TA\Projek-Capstone-Design\DATA\Preprocessing/balance data train 80%.xlsx', index=False)

In [94]:
#X_test["Kategori"]=y_test
#X_test.to_excel('D:\Data\Kuliah\TA\Projek-Capstone-Design\DATA\Preprocessing/balance data testing 20%.xlsx', index=False)

In [95]:
X_train["Kategori"]=y_train
X_train.to_excel('D:\Data\Kuliah\TA\Projek-Capstone-Design\DATA\Preprocessing/balance data train 70%.xlsx', index=False)

In [96]:
X_test["Kategori"]=y_test
X_test.to_excel('D:\Data\Kuliah\TA\Projek-Capstone-Design\DATA\Preprocessing/balance data testing 30%.xlsx', index=False)

In [97]:
# Menambahkan kolom "Kategori" pada DataFrame X_train dan X_test
#X_train["Kategori"] = y_train
#X_test["Kategori"] = y_test

# Menggabungkan data dari X_train dan X_test menjadi satu DataFrame
#df_combined = pd.concat([X_train, X_test], ignore_index=True)

# Menyimpan DataFrame yang telah digabungkan ke dalam satu file Excel
#df_combined.to_excel('D:\Data\Kuliah\TA\Projek-Capstone-Design\DATA\Preprocessing/Data setelah smote.xlsx', index=False)